// 使用BEM命名规范，参考：https://www.w3cschool.cn/weflow/weflow-bem.html
module.exports = {
  // 首页开始
  'home__header-title': 'Ease community',
  'home__module__title_community-service': 'Community service',
  'home__module__feature__name_base-repair': 'Feedback&Repair',
  'home__module__feature__name_base-payment': 'Property payment',
  'home__module__feature__name_base-payment_comming-soon': 'Comming soon',
  'home__module__title_intelligent-service': 'Intelligent travel service',
  'home__module__feature__name_intelligent-visit': 'Request to visit',
  'home__module__feature__name_intelligent-carpark': 'Carpark service',
  'home__module__feature__name_intelligent-charge': 'Car charge',
  'home__module__feature__name_intelligent-RKE': 'Bluetooth entrance',
  'home__module__feature__name_intelligent-face': 'Face upload',
  'home__module_store__title': 'Life Services',
  'home__module_store__desc': 'Shopping experience in a colorful community',
  'mask__hint__text': 'You can switch between Chinese and English version in "More".',
  // 首页结束
  // 我的开始
  'user__header-title': 'More',
  'user__banner__info__name_button': 'Login or Register',
  'user__banner__language__text_multi-language': 'Multi-language',
  'user__form-group__item__text_repair-order-list': 'Feedback&Repair order list',
  'user__form-group__item__text_logout': 'Logout'
  // 我的结束
}
