@import './lib-base.less';
@import './lib-mixins.less';

.main-wrapper {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
}

.pb-156 {
  padding-bottom: 156rpx;
}

.pb-196 {
  padding-bottom: 196rpx;
}

.pb-116 {
  padding-bottom: 116rpx;
}

.color_main-blue {
  color: @c_main_blue;
}

.color_text-333 {
  color: #333;
}

.color_text-666 {
  color: #666;
}

.color_text-999 {
  color: #999;
}

.color_text-blue {
  color: @c_text_blue;
}

.color_text-red {
  color: @c_text_red;
}
// .icon-arrow {
//   // padding-right: 26rpx;
//   position: relative;
//   width: 18rpx;
//   &::after {
//     content: " ";
//     display: inline-block;
//     height: 18rpx;
//     width: 18rpx;
//     border-width: 2rpx 2rpx 0 0;
//     border-color: #888888;
//     border-style: solid;
//     transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
//     position: absolute;
//     top: 50%;
//     margin-top: -8rpx;
//     right: 4rpx;
//   }
// }
.icon-arrow_up {
  display: inline-block;
  width: 28rpx;
  height: 16rpx;
  background-image: @img_arrow_u_gray;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.icon-arrow_down {
  .icon-arrow_up;
  transform: rotate(180deg);
}

.icon-arrow_right {
  .icon-arrow_up;
  width: 16rpx;
  height: 28rpx;
  background-image: @img_arrow_r_gray;
}

.icon-arrow_right_blue_s {
  .icon-arrow_up;
  width: 8rpx;
  height: 14rpx;
  background-image: @img_icon_arrow_r_blue_s;
}

.icon-caution {
  width: 28rpx;
  height: 28rpx;
  display: inline-block;
  background-image: @img_caution;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;

}

.empty-list__icon {
  width: 188rpx;
  height: 216rpx;
}

.hint-text {
  color: #999;
  font-size: 24rpx;
  line-height: 40rpx;
  padding: 0 30rpx;
}

.border_t {
  border-top: 1rpx solid @c_border_gray;
}

.border_b {
  border-bottom: 1rpx solid @c_border_gray;
}

.alert-bar {
  background-color: @c_alert_bg;
  color: @c_alert_text;
  font-size: 24rpx;
  line-height: 40rpx;
  padding: 20rpx 30rpx;
  z-index: 10;
  white-space: normal;
  &.b-96 {
    bottom: 96rpx;
  }
}

.form-group {}

.form-group__item {
  position: relative;
  background-color: #fff;
  min-height: 96rpx;

  &.border_b {
    border-bottom: 0;

    &::after {
      display: block;
      content: "";
      border-bottom: 1rpx solid @c_border_gray;
      position: absolute;
      bottom: 2rpx;
      left: 30rpx;
      right: 30rpx;
    }
  }
}

.form-group__item__label {
  width: 160rpx;
}

.form-group__item__input {
  height: 40rpx;
  // margin-top: 28rpx;
  line-height: 40rpx;
  // margin-bottom: 28rpx;
  padding: 0;
}

.form-group__item__textarea {
  box-sizing: border-box;
  line-height: 40rpx;
  min-height: 120rpx;
  margin-top: 28rpx;
  margin-bottom: 28rpx;
  width: 100%;
  // background-color: rgba(43, 156, 147, 0.548);
  vertical-align: top;
  -webkit-appearance: none;
  -moz-appearance: none;

  &.ios {
    // background-color: rgba(156, 103, 43, 0.548);
    margin-top: 15rpx;
    margin-bottom: 15rpx;
    min-height: 146rpx;
  }
}

.form-group__item__textarea__placeholder {
  -webkit-appearance: none;
  -moz-appearance: none;
}

.form-group__item__text {
  font-size: 28rpx;
  line-height: 40rpx;
  min-height: 40rpx;
  margin-top: 28rpx;
  margin-bottom: 28rpx;
  box-sizing: border-box;

  &.lc-1 {
    .line-clamp(1, 40rpx);
  }

  &.lc-2 {
    .line-clamp(2, 40rpx);
  }
}

.form-group__item__checkbox {
  height: 96rpx;
  width: 96rpx;
  // background-size: 36rpx 36rpx;
  .wx-checkbox-input {
    height: 36rpx;
    width: 36rpx;
  }
}

.form-group__sub-item-group {
  padding: 10rpx 20rpx;
  background-color: #eef5fe;
}

.form-group__sub-item {}

.form-group__sub-item__text {
  font-size: 24rpx;
  line-height: 34rpx;
  margin-top: 5rpx;
  margin-bottom: 5rpx;
}

.form-group__item__collapse {
  overflow: hidden;
  transition: all 1s ease-in-out;
}

.form-group__item__img-preview {
  flex: 1 1 25%;
  margin-left: 10rpx;
  margin-bottom: 10rpx;

  &:nth-of-type(3n + 1) {
    // background-color: rgba(172, 41, 41, 0.664);
    margin-left: 0;
  }
}

.form-group__item__img-preview__btn-delete {
  width: 50rpx;
  height: 50rpx;
  background-color: rgba(0, 0, 0, 1);
  background-image: @img_icon_close;
  background-size: 70% 70%;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 0;
  padding: 0;
  opacity: .5;
}

.form-group__item__img-preview__btn-chooser,
.form-group__item__img-preview__btn-preview {
  border-radius: 0;
  padding: 0;
  background-color: transparent;
  // background-color: rgba(31, 143, 74, 0.637);
}

.form-group__item__img-preview__btn-chooser__icon-add,
.form-group__item__img-preview__btn-preview__image {
  width: 100% !important;
  padding-top: 100% !important;
  height: 0 !important;
  background-image: @img_empty;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 8rpx;
  overflow: hidden;

  image {
    width: 100% !important;
    height: 100% !important;
  }
}

.form-group__item__img-preview__btn-chooser__icon-add {
  box-sizing: border-box;
  border: 1rpx solid @c_border_gray;
  border-radius: 8rpx;
  position: relative;
  padding-top: calc(~'100% - 2px');
  background-image: none;

  &::after,
  &::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #d9d9d9;
    content: '';
  }

  &::before {
    width: 2px;
    height: 60%;
  }

  &::after {
    height: 2px;
    width: 60%;
  }
}

.form-group__status-bar {
  &.success {
    background-color: @c_status_green;
  }

  &.fail {
    background-color: @c_status_gray;
  }

  &.wait {
    background-color: @c_status_yellow;
  }
}

.form-group__status-bar__text {
  color: #fff;
  font-size: 24rpx;
  font-weight: bold;
  line-height: 40rpx;
}

.form-group__status-bar__icon {
  width: 26rpx;
  height: 26rpx;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  &.success {
    background-image: @img_icon_status_success;
  }

  &.fail {
    background-image: @img_icon_status_fail;
  }

  &.wait {
    background-image: @img_icon_status_wait;
  }
}

.btn-bar_b {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: constant(safe-area-inset-bottom);
  padding-bottom: env(safe-area-inset-bottom);
  background-color: rgba(255, 255, 255, 1);
  // backdrop-filter: blur(10rpx);
  z-index: 9999;

  &.padding {
    padding: 20rpx 30rpx;
  }
}

.btn-bar_b__btn {
  height: 96rpx;
  line-height: 96rpx;
  border-radius: 0;
  font-size: 32rpx;
  font-weight: bold;

  &::after {
    border: 0;
  }

  &.blue {
    color: #fff;
    background-color: @c_btn_main;

    &.disabled {
      color: rgba(255, 255, 255, 0.7) !important;
      background-color: @c_btn_main !important;
    }
  }

  &.line {
    color: @c_text_blue;
    background-color: transparent !important;
    // background-color: #fff !important;
    border: 1rpx solid @c_main_blue;

    &.disabled {
      // color: @c_border_gray !important;
      border-color: @c_border_gray !important;
      color: rgba(255, 255, 255, 0.7) !important;
      background-color: @c_border_gray !important;
    }
  }

  &.bdrs-8 {
    border-radius: 8rpx;
  }

  &.w-200 {
    width: 200rpx;
  }
}

// /* 兼容iphone6plus、iphone7plus、iphone8plus*/
// @media (device-height:736px) and (-webkit-min-device-pixel-ratio:2) {
//   background-color: red;
// }
// /*iphoneX、iphoneXs*/
// /*即: 设备屏幕可见宽度为375px， 可见高度为812px及设备像素比为3*/
// @media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
//   .fix-iphone-x;
// }

// /*iphone Xs Max*/
// @media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio:3) {
//   .fix-iphone-x;
// }

// /*iphone XR*/
// @media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio:2) {
//   .fix-iphone-x;
// }

.tab-bar {
  background-color: #fff;
  border-bottom: 1rpx solid @c_border_gray;
  // padding: 0 30rpx;
  z-index: 10;
}

.tab-bar__btn {
  height: 80rpx;
  line-height: 80rpx;
  background-color: transparent;
  border-radius: 0;
  font-size: 28rpx;
  color: #333;
  margin: 0;
  padding: 0;

  &::after {
    border: none;
  }
}

.tab-bar__btn_active {
  font-size: 32rpx;
  font-weight: bold;

  &::before {
    content: "";
    position: absolute;
    width: 44rpx;
    height: 6rpx;
    left: 50%;
    bottom: 0;
    margin-left: -22rpx;
    background-color: #333;
  }
}
