var packageZh = require('./zh.wxs')
var packageEn = require('./en.wxs')

var translate = function (lang, key, formatArr) {
  var langPackage = packageZh
  if (lang === 'en') {
    langPackage = packageEn
  }
  var result = langPackage[key] || key
  for (var i = 0; i < formatArr.length; i++) {
    result = result.replace('%{' + i + '}', formatArr[i])
  }
  return result
}

module.exports = {
  translate: translate
}
