/**
 * 金额格式化
 * @param {*} amount 金额
 */
var formatAmount = function (amount) {
  // console.log(amount, parseFloat(amount), parseFloat(amount).toLocaleString())
  return parseFloat(amount).toLocaleString()
}
/**
 * 高亮关键字
 * @param {*} text 原文
 * @param {*} keyword 关键字
 */
var highlightWords = function (text, keyword) {
  if (keyword) {
    var wxml = '<span class="color_text-blue">' + keyword + '</span>'
    return text.replace(keyword, wxml)
  }
  return text
}

module.exports = {
  formatAmount: formatAmount,
  highlightWords: highlightWords
}
