/**
 * 金额格式化
 * toLocaleString参数不生效
 * https://developer.mozilla.org/zh-CN/docs/Web/JavaScript/Reference/Global_Objects/Number/toLocaleString
 * @param {*} amount 金额
 */
var formatAmount = function (amount = 0) {
  var integer = parseInt(amount) // 整数
  var integerStr = integer.toLocaleString(integer) // 整数格式化
  var decimals = parseFloat(amount) - integer // 小数
  var decimalsLength = amount.toString().split('.').length === 2 ? amount.toString().split('.')[1].length : 0 // 小数位数
  var decimalsStr = decimals.toFixed(decimalsLength < 2 ? 2 : decimalsLength > 6 ? 6 : decimalsLength)
  // console.log(integer, integerStr, decimals, decimalsLength, decimalsStr)
  return integerStr + (decimalsStr.split('.').length === 2 ? ('.' + decimalsStr.split('.')[1]) : '')
}
/**
 * 高亮关键字
 * @param {*} text 原文
 * @param {*} keyword 关键字
 */
var highlightWords = function (text, keyword) {
  if (keyword) {
    var wxml = '<span class="color_text-blue">' + keyword + '</span>'
    return text.replace(keyword, wxml)
  }
  return text
}

module.exports = {
  formatAmount: formatAmount,
  highlightWords: highlightWords
}
